/* reset leve do css */

*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

body{
    background-image:url('http://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg');
    background-size: 100px 2px;
    font-size:10px;
}
header{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
a{
    text-decoration:none;
    color:teal
}
a:hover{
    text-decoration:underline;
}
.menu ul{
    display:flex;
    justify-content: space-around;
    font-family: 'Viga', sans-serif;
}
.menu li{
    list-style:none
}
.menu{
    background-color:white;
    position:fixed;
    width:100vw;
    top:0;
    z-index:1;
}
.subtitle{
    text-align:center;
    color:whitesmoke;
    font-family: 'Bangers', cursive;font-family: 'Courgette', cursive;
    line-height: 1em;
    font-size: 25px;
}
.title{
    font-size:  3em;
    color:whitesmoke;
    font-family: 'Viga', sans-serif;
}
.menu a{
    padding:10px 20px;
    display:block;
    transition: background-color 1s,color 1s;
}
.img-portfolio{
    height:180px;
    width:240px;
    object-fit: cover;
    object-position:  bottom;
    border-radius: 5%;
    transition: transform 300ms
}
.img-portfolio:hover {
    transform: scale(1.2)
}
/*se a tela tiver pelo menos 400px vai carregar estes estilos */  

@media (min-width: 400px) {
    body{font-size: 14px;}
   }
@media (min-width: 550px) {
    body{font-size: 18px;}
   }
@media (min-width: 900px) {
    body{font-size: 22px;}
}
.sobre,
.contato,
.portifolio{
     color:white;
     padding: 2em;
     min-height: 100vh; 
    }
li{
    list-style: none;
    color: white
}
figcaption{
    color:white
}
.sobre
.contato h2,
.portifolio h2{
    font-family: 'Viga', sans-serif;
    color:whitesmoke;
    margin-bottom: 2,0em;
    font-size: 2,75em;
    text-align: center;
}
.portifolio figcaption{
    font-family: 'Viga', sans-serif;
}
.portifolio .grid{
   display: grid;
   gap: 2em;
   grid-template-columns: 240px;
   height: 82vh;
}
.portifolio figure {
    text-align: center;
}
@media (min-width: 605px){
    .portifolio .grid{
      grid-template-columns: 240px 240px;text-align: center;}  
}
@media (min-width: 880px){
    .portifolio .grid{
      grid-template-columns: 240px 240px 240px;
    justify-content: center;
    text-align: center;
    height: calc(82vh - 48px -8em);
    align-content: center;}  
}
@media(min-width: 880px){
    .portifolio h2{text-align: center;font-size: 55px;}
    }
@media (max-width: 605px){
    .portifolio .grid{
      grid-template-columns:  240px;text-align: center;}  
    }
header .subtitle{font-size: 16px;}
@media (min-width: 400px) {
    header .subtitle{font-size: 16px;}
   }
@media (min-width: 550px) {
    header .subtitle{font-size: 18px;}
   }
@media (min-width: 900px) {
    header .subtitle{font-size: 26px;}
}
.contato a {
    color: whitesmoke;
    font-size: 8em;
    transition: text-shadow 300ms;
}
.contato a:active,
.contato a:hover{
    text-decoration:none;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.7);
}
.contato .icons{
    text-align: center;
}
.menu a:hover {
    background-color: teal;
    color:white;
}
.titulo{
     transform: scale(0.2) translateY(50vh);
     opacity: 0;
     animation: linear 2s  animacaoTitulo forwards;

}
.titulo:hover{
    transform: scale(0) translateY(0);
    opacity: 1;
}
@keyframes animacaoTitulo {
    
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
} 
.sobre p {
    color:white;
    text-indent: 1em;
    margin-bottom: 1.3em;
    text-align: justify ;
}


